
@{
    ViewBag.Title = "Index";
}

@{ var accessoire_id_accessoire = 1;
    var accessoire_label = "";
    var accessoire_id_categorie = -1; }

<h2>Recherche</h2>

@using (Html.BeginForm("searchAccessoire","SearchController"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Accessoire</h4>
        <hr />

        <div>
            ID :        @Html.TextBox("id_accessoire")
        </div>
        <div>
            Label :     @Html.TextBox("label")
        </div>
        <div>
            Catégorie : @Html.TextBox("id_categorie")
        </div>

    </div>

    <input type="submit" value="Recherche" />
    
}



