
@{
    ViewBag.Title = "Index";
}

<h2>Recherche</h2>

<form method="post" action="">
    <fieldset>
        <legend>Accessoire</legend>
        <div>
            <label>ID : </label>
        </div>
        <div>
            <input name="accessoire_id_accessoire" type="number" value="" />
        </div>
        <div>
            <label>Label : </label>
        </div>
        <div>
            <input name="accessoire_label" type="text" value="" />
        </div>
        <div>
            <label>Categorie : </label>
        </div>
        <div>
            <input name="accessoire_id_categorie" type="number" value="" />
        </div>
        <div>
            <label></label>
            <input type="submit" value="Rechercher" class="submit" />
        </div>
    </fieldset>

</form>




