@model PimpYourCharacter.Models.categorie_arme

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Catégorie d'armes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.categorie_arme1,"Label")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie_arme1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_categorie_arme }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
