@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UQAC, 
    Boulevard de l'université, Chicoutimi,
    418-418-418
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@pyc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@pyc.com</a>
</address>