@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Pimp Your Character</h1>
    <p class="lead">
        <p>Pimp Your Character vous permet de créer vos personnages de façon simple et rapide.</p>
        <p>Pimp Your Character offre la possibilité d'enregistrer vos personnages existant sous plusieurs formats.</p>
        <p>Vous pouvez réutiliser vos créations par l'intermédiaire d'autres logiciels.</p>
    </p>
</div>

<img src="~/Resources/persos.png" class="img-responsive img-center" alt="Pimp Your Character">
<p>Le code du projet est <a href="https://github.com/dirtsa11/PimpYourCharacter">ici</a></p>